@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");

html, body, #root{
  height:100%;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e3e9ff;
}
p:last-child{margin-bottom: 0;}
.mainsec {
 flex-grow: 1;
 padding: 20px 0;
 display: flex;
 align-items: center;
}
.color1 {
  color: #af7eeb;
}
.bg1 {
  background-color: #af7eeb;
}

.btn-circle {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 12px;
  border-radius: 40px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.todolist {
  list-style: none;
  padding: 0;
  margin: 0;
}
.todolist li {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  align-items: center;
}
.todolist li:last-child {
  border: none;
  padding-bottom: 0;
}
.todolist div.text {
  flex-grow: 1;
  font-weight: 500;
  color: #000;
}
.todolist div.icons {
  flex-shrink: 0;
  margin-left: 10px;
}

.footer {
 padding: 20px 0;
  width: 100%;
  text-align: center;
  color: #000;
  flex-shrink: 0;
}
.footer a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}
